*{
    margin: 0;
    padding: 0;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

uniquifier > {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Image/LogRegist/Regist.png) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2.5px);
    backdrop-filter: ;
    /*background: linear-gradient(#f5bc53,#FFE6A7);*/
}

body:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.box {
    height: 525px;
    width: 380px;
    backdrop-filter: blur(5px);
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(141, 17, 17, 0.6) !important;
    box-shadow: 0px 0px 20px #5e0202;
}

span {
    font-family: "New Amsterdam", sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 5px 0;
    background: #F5AA27;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 8px;
}

header {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 40px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 5px;
}

.user {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 20px;
    position: relative;
}

.user input{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.user input:hover {
    box-shadow: 0 0px 20px rgba(255, 161, 161, 0.5);

}

.mail {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 20px;
    position: relative;
}

.mail input{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mail input:hover {
    box-shadow: 0 0px 20px rgba(255, 161, 161, 0.5);

}

.password {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 20px;
    position: relative;
}

.password input{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.password input:hover {
    box-shadow: 0 0px 20px rgba(255, 161, 161, 0.5);

}

.Cpassword {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 20px;
    position: relative;
}

.Cpassword input{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Cpassword input:hover {
    box-shadow: 0 0px 20px rgba(255, 161, 161, 0.5);

}

i {
    position: relative;
    left: -32px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.remember-forget {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.remember-forget .remember {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.remember-forget .remember input {
    height: 15px;
    width: 15px;
    margin-right: 0.2rem;
    border: 1px solid #cecece;
    border-radius: 50px;
    outline: none;
}

.remember-forget .forgot a {
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button-container a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #F5AA27, #ffa13c);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 0, 102, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 10px 20px rgba(245, 204, 68, 0.2);
    transform: translateY(-3px);
}

.Button-container:hover a {
    color: #396018;
}

.registro {
    margin-top: 5px;
    color: #fff;
    font-size: 17px;
}

.registro a {
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

