/* -- FUENTES -- */

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.libre-barcode-39-text-regular {
    font-family: "Libre Barcode 39 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* -- HTML -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #ECE4D8;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

/* -- Barra Superior -- */

.top-box {
    float: left;
    width: 100%;
    padding: 30px;
}

.top-box h1 {
    float: left;
    font-family: "Share Tech Mono", monospace;
    font-size: 30px;
    font-weight: 500;
}

.agregar-tarjeta {
    float: right;
    width: 30px;
    height: 30px;
    border: unset;
    border-radius: 7px;
    background: #52683F;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(73, 92, 67, .14);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.top-box p {
    float: right;
    margin: 6px 10px;
    font-weight: 300;
}

/* -- Tarjetas -- */

.card {
    margin: 10px 32px;
    width: 480px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #261816;
    position: relative;
    display: flex;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-front {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.card:hover .card-front {
    transform: perspective(600px) rotateY(90deg);
    color: rgba(16, 6, 6, 0.1);
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(16, 6, 6, 0.13);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    color: antiquewhite;
    padding: 20px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.card-sub-title {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
}

.card-info {
    font-size: 40px;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
}

.card-body h3 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.card-btn {
    float: right;
    background: #e8cfcf;
    padding: 10px 20px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .4s;
}

.card-btn a {
    text-decoration: none;
    color: rgb(30, 11, 2);
}

.card-btn:hover a {
    color: #e8cfcf;
}

.card-btn:hover {
    background: #52683F;
}

/*INICIO NAV*/
.enlace {
    text-align: center;
    text-decoration: none;

}

/* General Styles for Navbar */
.navbar {
    width: 100%; /* La navbar ocupará todo el ancho de la pantalla */
    background-color: #52683f; /* Cambia el fondo de la navbar */
    border-radius: 0 0 10px 10px; /* Redondea solo los bordes inferiores */
    margin-bottom: 15px; /* Espacio debajo de la navbar */
    box-shadow: 0px 4px 2px -2px gray; /* Sombra de la navbar */
}

/* Branding (Logo y Título) */
.navbar-brand {
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #e8bb4b;
}

.navbar-brand h1 { /* Color SaboreaBox */
    color: #f5aa27;
}


/* Navbar Links */
.navbar-nav .nav-link {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: #ece4d8;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #f5aa27; /* Color al pasar el cursor */
}

/* Dropdown Menu */
.nav-item .dropdown-menu {
    background-color: #52683f;
    border: 1px solid #455735;
}

.nav-item .dropdown-item {
    color: #ece4d8;
    font-size: 16px;
}

.nav-item .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #f5aa27;
}

/* Buttons (Login y Register) */
.navbar .btn-outline-success {
    margin-left: 10px;
    color: #ece4d8; /* Color letra */
    border-color: #bd5237;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar .btn-outline-success:hover {
    background-color: #bd5237;
    color: #f5aa27;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

.btn {
    font-family: "Roboto Slab", serif;
    float: right;
    background-color: #bd5237;
}

.navbar-toggler {
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno si existe */
}

.navbar-toggler-icon {
    background-color: transparent; /* Asegúrate de que el fondo sea transparente */
}

.navbar-toggler:focus {
    border: none !important; /* Usar !important para asegurarte de que sobrescriba otros estilos */
    outline: none !important;
    box-shadow: none !important; /* Elimina sombras que puedan parecer un borde */
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-

<
uniquifier > {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
}

/*FIN NAV*/