body {
    background-color: #fff5ec;
    font-family: Arial, sans-serif;
}
/*INICIO NAV*/
.enlace {
    text-align: center;
    text-decoration: none;

}

/* General Styles for Navbar */
.navbar {
    width: 100%; /* La navbar ocupará todo el ancho de la pantalla */
    background-color: #52683f; /* Cambia el fondo de la navbar */
    border-radius: 0 0 10px 10px; /* Redondea solo los bordes inferiores */
    margin-bottom: 15px; /* Espacio debajo de la navbar */
    box-shadow: 0px 4px 2px -2px gray; /* Sombra de la navbar */
}

/* Branding (Logo y Título) */
.navbar-brand {
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #f5aa27;
}

.navbar-brand h1 { /* Color SaboreaBox */
    color: #f5aa27;
}


/* Navbar Links */
.navbar-nav .nav-link {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: #ece4d8;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #f5aa27; /* Color al pasar el cursor */
}

/* Dropdown Menu */
.nav-item .dropdown-menu {
    background-color: #52683f;
    border: 1px solid #455735;
}

.nav-item .dropdown-item {
    color: #ffffff;
    font-size: 16px;
}

.nav-item .dropdown-item:hover {
    background-color: #3a4f2b;
    color: #f5aa27;
}

/* Buttons (Login y Register) */
.navbar .btn-outline-success {
    margin-left: 10px;
    color: #fafafa; /* Color letra */
    border-color: #bd5237;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar .btn-outline-success:hover {
    background-color: #bd5237;
    color: #f5aa27;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

.btn {
    font-family: "Roboto Slab", serif;
    float: right;
    background-color: #bd5237;
}

.navbar-toggler {
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno si existe */
}

.navbar-toggler-icon {
    background-color: transparent; /* Asegúrate de que el fondo sea transparente */
}

.navbar-toggler:focus {
    border: none !important; /* Usar !important para asegurarte de que sobrescriba otros estilos */
    outline: none !important;
    box-shadow: none !important; /* Elimina sombras que puedan parecer un borde */
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

uniquifier > {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
}

/*FIN NAV*/

h1 {
    color: #f5aa27;
    font-family: "New Amsterdam", sans-serif;
}

.cuadro {
    background-color: #cc5533;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-family: "Roboto Slab", serif;
}

.form-label {
    color: white;
}

.btn-primary {
    background-color: #6c7a34;
    border: none;
}

.btn-primary:hover {
    background-color: #53632b;
}

input, textarea, select {
    background-color: #fff;
    color: #6c7a34;
    border: none;
    border-radius: 4px;
}

input::placeholder, textarea::placeholder {
    color: #6c7a34;
}

input[type="file"] {
    padding: 5px;
    display: none;
}

/* Estilo adicional para hacer el botón de agregar imagen cuadrado y centrado */
.cuadro label[for="productImage"] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.4);
    border-radius: 8px;
    padding: 150px;
    text-align: center;
    color: white;
}
.cuadro {
    background-color: #bd5237;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px; /* Añadir margen inferior para separar los cuadros */
}