body {
    background-color: #ece4d8;
}

/*INICIO NAV*/
.enlace {
    text-align: center;
    text-decoration: none;

}

/* General Styles for Navbar */
.navbar {
    width: 100%; /* La navbar ocupará todo el ancho de la pantalla */
    background-color: #52683f; /* Cambia el fondo de la navbar */
    border-radius: 0 0 10px 10px; /* Redondea solo los bordes inferiores */
    margin-bottom: 15px; /* Espacio debajo de la navbar */
    box-shadow: 0px 4px 2px -2px gray; /* Sombra de la navbar */
}

/* Branding (Logo y Título) */
.navbar-brand {
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #f5aa27;
}

.navbar-brand h1 { /* Color SaboreaBox */
    color: #f5aa27;
}


/* Navbar Links */
.navbar-nav .nav-link {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: #ece4d8;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #f5aa27; /* Color al pasar el cursor */
}

/* Dropdown Menu */
.nav-item .dropdown-menu {
    background-color: #52683f;
    border: 1px solid #455735;
}

.nav-item .dropdown-item {
    color: #ffffff;
    font-size: 16px;
}

.nav-item .dropdown-item:hover {
    background-color: #3a4f2b;
    color: #f5aa27;
}

/* Buttons (Login y Register) */
.navbar .btn-outline-success {
    margin-left: 10px;
    color: #fafafa; /* Color letra */
    border-color: #bd5237;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar .btn-outline-success:hover {
    background-color: #bd5237;
    color: #f5aa27;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

.btn {
    font-family: "Roboto Slab", serif;
    float: right;
    background-color: #bd5237;
}

.navbar-toggler {
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno si existe */
}

.navbar-toggler-icon {
    background-color: transparent; /* Asegúrate de que el fondo sea transparente */
}

.navbar-toggler:focus {
    border: none !important; /* Usar !important para asegurarte de que sobrescriba otros estilos */
    outline: none !important;
    box-shadow: none !important; /* Elimina sombras que puedan parecer un borde */
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-

<
uniquifier > {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
}

/*FIN NAV*/

/* INICIO CARDS */

/* Estilo general para las tarjetas */
.card {
    font-family: "Roboto Slab", serif;
    border: 1px solid #ddd; /* Añade un borde sutil alrededor de la tarjeta */
    border-radius: 10px; /* Redondea las esquinas de la tarjeta */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de la tarjeta */
    transition: transform 0.2s ease-in-out; /* Transición suave para cambios de tamaño o transformaciones */
    background-color: #ffffff; /* Establece el color de fondo de la tarjeta */
}

/* Contenedor de la imagen */
.card-img-container {
    position: relative; /* Posiciona elementos dentro de este contenedor de manera relativa */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

/* Imagen de la tarjeta */
.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 200px; /* Altura fija para todas las imágenes, asegurando uniformidad */
    object-fit: cover; /* Ajusta la imagen para que cubra el espacio disponible sin distorsionarse */
    border-bottom: 1px solid #ddd; /* Añade una línea divisoria entre la imagen y el cuerpo de la tarjeta */
    transition: filter 0.3s ease; /* Transición suave para el filtro de la imagen */
}

/* Efecto de difuminado en la imagen al pasar el cursor */
.card-img-container:hover img {
    filter: blur(5px); /* Aplica un efecto de difuminado a la imagen */
}

/* Texto que aparece al pasar el cursor */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave para la aparición del texto */
    pointer-events: none; /* Evita la interacción con el texto superpuesto */
}

/* Muestra el texto al pasar el cursor sobre la imagen */
.card-img-container:hover .overlay-text {
    opacity: 1; /* Muestra el texto superpuesto */
}

/* Estilo para la etiqueta de precio (badge) */
.badge {
    font-size: 16px; /* Tamaño de la fuente de la etiqueta de precio */
    padding: 5px 10px; /* Espaciado interno de la etiqueta */
    border-radius: 12px; /* Redondea las esquinas de la etiqueta */
}

/* Título de la tarjeta */
.card-title {
    font-size: 18px; /* Tamaño de la fuente del título */
    font-weight: bold; /* Negrita en el texto del título */
    color: #333333; /* Color del texto del título */
    text-align: center; /* Centra el título dentro de la tarjeta */
    margin-bottom: 10px; /* Margen inferior para separar del resto del contenido */
}
.card-text {
    font-size: 14px; /* Tamaño de la fuente del texto descriptivo */
    color: #666666; /* Color del texto de la descripción */
    text-align: justify; /* Justifica el texto descriptivo dentro de la tarjeta */
    margin-bottom: 15px; /* Margen inferior para separar del resto del contenido */
}

.card-text p {
    text-align: justify; /* Justifica el texto dentro del párrafo */
}


.btn-container {
    display: flex; /* Aplica flexbox al contenedor de los botones */
}

.btn-primary {
    background-color: #bd5237; /* Color de fondo del botón */
    border-color: #bd5237; /* Color del borde del botón */
    color: #ffffff; /* Color del texto del botón */
    font-size: 14px; /* Tamaño de la fuente dentro del botón */
    padding: 8px 12px; /* Espaciado interno alrededor del texto del botón */
    border-radius: 4px; /* Redondea las esquinas del botón */
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transición suave para cambios de color y tamaño */
    flex: 1; /* Hace que los botones ocupen el mismo espacio dentro del contenedor */
    margin: 5px; /* Espaciado entre botones */
}

/* Efecto al pasar el cursor sobre el botón */
.btn-primary:hover {
    background-color: #bd5237; /* Cambia el color de fondo cuando el cursor está sobre el botón */
    transform: scale(1.05); /* Escala el botón ligeramente cuando el cursor está sobre él */
}

/* Texto que aparece al pasar el cursor */
.overlay-text {
    font-family: "Roboto Slab", serif;
    position: absolute;
    top: 50%; /* Centramos verticalmente */
    left: 50%; /* Centramos horizontalmente */
    transform: translate(-50%, -50%); /* Ajustamos para centrar completamente */
    font-size: 15px; /* Ajustamos el tamaño de la fuente */
    color: #020202;
    font-style: bold;
    text-align: left; /* Alineamos el texto a la izquierda */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave para la aparición del texto */
    pointer-events: none; /* Evita la interacción con el texto superpuesto */
    width: 100%; /* Asegura que el texto no se desborde del contenedor */
    height: 90%;
    padding: 5px; /* Añade un poco de espacio alrededor del texto */
    box-sizing: border-box; /* Incluye padding dentro del ancho total */
    word-wrap: break-word; /* Asegura que el texto se ajuste dentro de los márgenes */
}

/* Alineación de los botones dentro de la tarjeta */
.card-body .d-flex {
    display: flex; /* Establece un contenedor flexible para los botones */
    justify-content: space-between; /* Distribuye los botones de manera equitativa con espacio entre ellos */
}

/* Espaciado y márgenes para las tarjetas */
.mb-4 {
    margin-bottom: 20px; /* Añade un margen inferior para separar las tarjetas entre sí */
}

/* FINAL CARDS */
.custom-footer {
    background-color: #3a4f2b; /* Slate gray */
    color: #fff;
    font-size: 0.9em;
    margin-top: auto; /* Empuja el footer al final */
}
