body .container text-center {
    background-color: #ece4d8;
}


.enlace{
    text-align: center;
    text-decoration: none;

}
/* General Styles for Navbar */
.navbar {
    background-color: #52683f; /* Cambia el fondo de la navbar */
    box-shadow: 0px 4px 2px -2px gray; /* Añade sombra a la navbar */
}

/* Branding (Logo y Título) */
.navbar-brand {
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #e8bb4b;
}

.navbar-brand h1 {
    color: #f5aa27;
}



/* Navbar Links */
.navbar-nav .nav-link {
    font-size: 20px;
    color:#ece4d8;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #f5aa27; /* Color al pasar el cursor */
}

/* Dropdown Menu */
.nav-item .dropdown-menu {
    background-color: #52683f;
    border: 1px solid #455735;
}

.nav-item .dropdown-item {
    color: #333333;
    font-size: 16px;
}

.nav-item .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

/* Buttons (Login y Register) */
.navbar .btn-outline-success {
    margin-left: 10px;
    color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar .btn-outline-success:hover {
    background-color: #56753f;
    color: white;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
    }
}

.btn {
    float: right;
}
/* Asegura que las imágenes se escalen correctamente */
.card img-top {
    height: 100%;
    width: 100%;
}

/* Asegura que las tarjetas ocupen la misma altura */
.card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;  /* Margen superior */
    margin-bottom: 30px;  /* Margen inferior */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  