body {
    font-family: Arial, sans-serif;
    background-color: #f9f1eb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #495c43;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #3e4d37;
}

.logo img {
    max-width: 100px;
}

main {
    background-color: #fff5ec;
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    background-color: #d3d8ca;
    padding: 15px;
    border-radius: 10px;
    width: calc(33.333% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.producto p {
    font-size: 1rem;
    margin: 10px 0;
    color: #495c43;
}

.agregar-carrito {
    background-color: #cd6048;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
